

<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="col-md-4">

    <h3>Save Me - Log in</h3><BR>

    <form action="{% url 'login' %}" method='POST' role="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" size="20" class="form-control" name="username" placeholder="you know what to do">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="lay it on me">
        </div>

        <button type="submit" class="btn btn-success">'Save' Me</button>
    </form>
<BR>

        <div class=""col-md-4">
            <h6>new user? </h6> <!-- want an account? or maybe a treat?     -->
            <a href="{% url 'register' %}"><h4>Register!</h4></a>
        </div>

    </div>


</div>

</body>
</html>