<html>

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>


</head>

<body>

<div class="container-fluid">

<p>Howdy <b>{{ user }}! </b></p>
<p>Enter amount saved:</p>

<form action="{% url 'save-submit-form' %}" method='POST'>
    {% csrf_token %}

    <input type='text' name='txt_value' class="input"><BR><BR>
    <input type = "submit" name='btn_save' value="$ave" class="btn btn-success">
</form>

<HR>
<!-- <p>Current Amount Saved: <b>{{ result }}</b></p> -->
<p>Total Amount Saved: <b>{{ total_entries.total|floatformat:2 }}</b></p>
<p>Avg Amount Saved: <b>{{ total_entries.average|floatformat:2 }}</b></p>




<div class="'row">
<div class="col-md-6">
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="col-md-8" style="text-align:center">Saved Amount</th>
            <th class="col-md-4" style="text-align:center">Saved Date</th>

        </tr>
    </thead>

    {% for e in entries %}
                <tr>
                    <td align="left">
                        <a href="#" class="saveamount" data-type="text" data-pk="{{ e.id }}" data-url="{% url 'process-update' %}" data-title="Edit Amount">{{ e.amount }}</a>
                        <a href="{% url 'process-delete' %}?id={{ e.id }}" class="btn btn-danger pull-right">Delete</a>
                    </td>
                    <td align="right">
                        {{ e.date|date:"m/d/y h:i" }} <BR>
                    </td>
                    </tr>
            {% endfor %}


</table>
</div>
</div>

<a href="{% url 'show-history-form' %}" class="btn btn-warning">Show/Edit History</a><BR><BR>


<HR>
<BR>
<script>
    $.fn.editable.defaults.mode = 'inline';
    $(document).ready(function() {
        $('.saveamount').editable();
    });
</script>
</body>
</html>